:root{
    --main: #FFEED6; 
    --other: #F49D37;
}
body{
    margin: 0;
}

.content
{
    background-color: var(--main);
    height: 100vh;
}

.start-game
{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
   /* border: 2px solid black; */
    padding: 40px;
    background-color: var(--other);
    border-radius: 10px;
}

.start-game p
{
    text-align: center;
    padding-bottom: 15px;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}

.start-game form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.start-game form ul
{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 10px;
}

button
{
    padding: 5px 20px;
    border-radius: 5px;
    /*border: 2px solid black;*/
    border: none;
    background-color: var(--other);
}

button:hover
{
    box-shadow: 0px 0px 10px black;
}

form button
{
    background-color: var(--main);
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
}

.buttons button
{
    background-color: var(--other);
    font-size: 20px;
    padding: 10px 20px;
}

li
{
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;

}

input
{
    background-color: var(--main);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    visibility: hidden;
}

.score-keeper
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.score 
{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: lightgray;
    font-size: 20px;
}

.winner
{
    font-size: 24px;
}

.buttons
{
    display: flex;
    gap: 10px;
}

.header
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    background-color: var(--other);
    padding: 40px;
    text-shadow: 0px 0px 10px black;
}

.board
{
    border: 1px solid var(--other);
}

.col
{
    width: 100px;
    height: 100px;
    border: 2px solid var(--other);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;

}

.unclicked:hover
{
    opacity: 0%;
}

.row
{
    display: flex;
}